<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Client Form</title>
		<script src="https://cdn.jsdelivr.net/npm/vue@2.7.16/dist/vue.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/vue-demi"></script>
		<script src="https://cdn.jsdelivr.net/npm/@vuelidate/core"></script>
		<script src="https://cdn.jsdelivr.net/npm/@vuelidate/validators"></script>
		<link rel="stylesheet" href="style.css" />
	</head>
	<body>
		<div class="form-container">
			<form id="form" class="form">
				<h1 class="form__title title">Создание пользователя</h1>
				<div class="form__main">
					<div class="form__group" v-for="group of formStructure">
						<h3 class="group__title title">{{group.name}}</h3>
						<p class="text-info">
							<span class="text-required">*</span> - поля, обязательные для заполнения
						</p>
						<form-input
							v-for="field of group.fields"
							v-model="values[field.key]"
							:key="field.key"
							:field="field"
							:v$="v$"
						></form-input>
					</div>
				</div>
				<div class="form__footer">
					<p class="text-success" v-show="userCreated">Клиент успешно создан</p>
					<button class="form__button-submit" @click.prevent="createUser">Создать</button>
				</div>
			</form>
		</div>
		<script src="./validators.js"></script>
		<script src="./formStructure.js"></script>
		<script src="./script.js"></script>
	</body>
</html>
